


<h1>
    from covid template
</h1>
    <div class="navbar-nav mr-auto">
        <a class="btn btn-primary" href="{% url 'index' %}">Home</a>
        <a class="btn btn-primary" href="{% url 'covidupdates' %}">Covid Updates</a>
        <a class="btn btn-primary" href="{% url 'registration' %}">Register</a>
    </div>

<div class="container-fluid">
    <div class="lf-main default-container">
        <div class="lf-top"></div>
        <div class="lf-bot">
            <div class="d-flex justify-content-between">
                <div class="lf-search">
                    <div class="form-group">
                        <input type="text" action="#" method="get placeholder=" Search.." name="search"> <button type="submit">search
                            country</button>
                    </div>
                </div>
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-data" role="tabpanel" aria-labelledby="pills-data-tab">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Country</th>
                                <th class="text-center">Cases</th>
                                <th class="text-center">Active</th>
                                <th class="text-center">Deaths</th>
                                <th class="text-center">Today</th>
                                <th class="text-center">Recovered</th>
                                <th class="text-center">Critical</th>
                            </tr>
                                <tr>
                                    
                   
                                         
                                    <td></td>
                                    <td class="text-center">{{cases}}</td>
                                    <td class="text-center">{{active}}</td>
                                    <td class="text-center">{{deaths}}</td>
                                    <td class="text-center">{{todayCases}}</td>
                                    <td class="text-center">{{recovered}}</td>
                                    <td class="text-center">{{critical}}</td>
                                </tr>
                           

                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>    
        </div>   
    </div>
</div>        